/*----------HEADER-----------*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(./images/ordinateur.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

nav li a {
    color: black;
    font-size: 42px;
    text-decoration: none;
}